<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxNEz5IqWVf3mFJ5ejrF9ysSF1nhwrQrU</string>
	<key>GCM_SENDER_ID</key>
	<string>127639352924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erc.tecadvantage</string>
	<key>PROJECT_ID</key>
	<string>tec-advantage</string>
	<key>STORAGE_BUCKET</key>
	<string>tec-advantage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127639352924:ios:79deb98a4d79a77b2a5899</string>
</dict>
</plist>